<p><% @users.each do |user| %>
  <p><%= user.email %></p>
  <p><%= user.id %></p>
  <% end %>
  <%= params[:id] %>
  <h1> you are viewing <%= @users.find(params[:id]).user_name %>'s page</h1>
  <br>

</p>
